.login_btn {
    color: @success_fg_color;
    background-color: @success_bg_color;
}

.disable_lockdown_mode_btn {
    color: @destructive_fg_color;
    background-color: @destructive_bg_color;
}

.secure_my_connection_btn {
    color: @success_fg_color;
    background-color: @success_bg_color;
}

.disconnect_btn {
    color: @destructive_fg_color;
    background-color: @destructive_bg_color;
}

.reconnect_btn {
    color: @destructive_fg_color;
    background-color: @destructive_bg_color;
}

.connected_state_label {
    color: @success_color;
}

.connection_state_icon {
    -gtk-icon-size: 128px;
}

.connection_state_icon.connected {
    color: @success_bg_color;
}

.connection_state_icon.disconnected {
    color: @destructive_bg_color;
}

.connection_state_icon.disabled {
    color: @warning_bg_color;
}

.logout_btn {
    color: @destructive_fg_color;
    background-color: @destructive_bg_color;
}
