.secure_my_connection_btn {
    color: @success_fg_color;
    background-color: @success_bg_color;
}

.disconnect_btn {
    color: @destructive_fg_color;
    background-color: @destructive_bg_color;
}

.reconnect_btn {
    color: @destructive_fg_color;
    background-color: @destructive_bg_color;
}

.connected_state_label {
    color: @success_color;
}
